{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<div class="row justify-content-center">
    <div class="col-6"><br>
        <div class="card">
            <div class="card-body">

                <h2 class="text-center">Change Password</h2><br>

                <form method="POST" action="{% url 'password' %}">
                    {% csrf_token %}
                    {% if form.errors %}
                    <div class="alert alert-warning alert-dismissable" role="alert">
                        <button class="close" data-dismiss="alert">
                            <small><sup>x</sup></small>
                        </button>
                        {% for field in form %}
                        {% if field.errors %}
                        {{ field.errors }}
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}

                    {{ form.as_p }}

                    <input type="submit" value="Submit" class="btn btn-secondary">
                </form>

            </div>
        </div>
        <br>
    </div>
</div>

{% endblock %}